body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1452px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19679 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19680 {
  position:absolute;
  left:252px;
  top:134px;
  width:1200px;
  height:60px;
  color:#999999;
}
#u19681 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19682 {
  position:absolute;
  left:558px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19682_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19682.selected {
}
#u19683 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u19684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19684 {
  position:absolute;
  left:636px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19684_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19684.mouseOver {
}
#u19684_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19684.selected {
}
#u19685 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u19686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19686 {
  position:absolute;
  left:716px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19686_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19686.mouseOver {
}
#u19686_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19686.selected {
}
#u19687 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u19688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19688 {
  position:absolute;
  left:796px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19688_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19688.mouseOver {
}
#u19688_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19688.selected {
}
#u19689 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u19690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19690 {
  position:absolute;
  left:876px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19690_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19690.mouseOver {
}
#u19690_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19690.selected {
}
#u19691 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u19692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19692 {
  position:absolute;
  left:479px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19692_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19692.mouseOver {
}
#u19692_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19692.selected {
}
#u19693 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u19694 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u19695 {
  position:absolute;
  left:333px;
  top:134px;
  width:146px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u19696 {
  position:absolute;
  left:0px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u19697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:36px;
}
#u19697 {
  position:absolute;
  left:270px;
  top:144px;
  width:44px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:36px;
}
#u19698 {
  position:absolute;
  left:0px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u19699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19699 {
  position:absolute;
  left:956px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19699_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19699.mouseOver {
}
#u19699_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19699.selected {
}
#u19700 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u19701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19701 {
  position:absolute;
  left:1036px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19701_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19701.mouseOver {
}
#u19701_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19701.selected {
}
#u19702 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u19703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:750px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19703 {
  position:absolute;
  left:252px;
  top:194px;
  width:1200px;
  height:750px;
}
#u19704 {
  position:absolute;
  left:2px;
  top:367px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19705 {
  position:absolute;
  left:422px;
  top:222px;
  width:860px;
  height:170px;
}
#u19706 {
  position:absolute;
  left:2px;
  top:77px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19707 {
  position:absolute;
  left:422px;
  top:419px;
  width:860px;
  height:440px;
}
#u19708 {
  position:absolute;
  left:2px;
  top:212px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u19709 {
  position:absolute;
  left:468px;
  top:245px;
  width:59px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u19710 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u19711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:14px;
}
#u19711 {
  position:absolute;
  left:1133px;
  top:245px;
  width:94px;
  height:14px;
}
#u19712 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u19713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:14px;
}
#u19713 {
  position:absolute;
  left:468px;
  top:300px;
  width:158px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u19714 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u19715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:2px;
}
#u19715 {
  position:absolute;
  left:422px;
  top:279px;
  width:860px;
  height:1px;
}
#u19716 {
  position:absolute;
  left:2px;
  top:-8px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u19717 {
  position:absolute;
  left:468px;
  top:340px;
  width:59px;
  height:14px;
}
#u19718 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u19719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:14px;
}
#u19719 {
  position:absolute;
  left:583px;
  top:340px;
  width:567px;
  height:14px;
}
#u19720 {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  word-wrap:break-word;
}
#u19721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
}
#u19721 {
  position:absolute;
  left:1176px;
  top:340px;
  width:51px;
  height:14px;
}
#u19722 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u19723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:14px;
}
#u19723 {
  position:absolute;
  left:468px;
  top:446px;
  width:87px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u19724 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u19725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:2px;
}
#u19725 {
  position:absolute;
  left:422px;
  top:480px;
  width:860px;
  height:1px;
}
#u19726 {
  position:absolute;
  left:2px;
  top:-8px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:14px;
}
#u19727 {
  position:absolute;
  left:507px;
  top:519px;
  width:182px;
  height:14px;
}
#u19728 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u19729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u19729 {
  position:absolute;
  left:468px;
  top:516px;
  width:18px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u19730 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u19731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u19731 {
  position:absolute;
  left:468px;
  top:579px;
  width:18px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u19732 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u19733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:14px;
}
#u19733 {
  position:absolute;
  left:507px;
  top:582px;
  width:697px;
  height:14px;
}
#u19734 {
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  word-wrap:break-word;
}
#u19735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u19735 {
  position:absolute;
  left:534px;
  top:647px;
  width:21px;
  height:20px;
  font-size:20px;
  color:#008000;
  text-align:center;
}
#u19736 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u19737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u19737 {
  position:absolute;
  left:565px;
  top:651px;
  width:59px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  color:#008000;
}
#u19738 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u19739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19739 {
  position:absolute;
  left:1083px;
  top:773px;
  width:121px;
  height:40px;
}
#u19740 {
  position:absolute;
  left:2px;
  top:13px;
  width:117px;
  word-wrap:break-word;
}
#u19741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:2px;
}
#u19741 {
  position:absolute;
  left:422px;
  top:736px;
  width:860px;
  height:1px;
}
#u19742 {
  position:absolute;
  left:2px;
  top:-8px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19744 {
  position:absolute;
  left:1246px;
  top:192px;
  visibility:hidden;
}
#u19744_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u19744_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19745 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:300px;
}
#u19746 {
  position:absolute;
  left:2px;
  top:142px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19747 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u19748 {
  position:absolute;
  left:0px;
  top:121px;
  width:200px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19748_img.mouseOver {
}
#u19748.mouseOver {
}
#u19748_img.selected {
}
#u19748.selected {
}
#u19749 {
  position:absolute;
  left:50px;
  top:13px;
  width:148px;
  word-wrap:break-word;
}
#u19750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u19750 {
  position:absolute;
  left:0px;
  top:250px;
  width:200px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19750_img.mouseOver {
}
#u19750.mouseOver {
}
#u19750_img.selected {
}
#u19750.selected {
}
#u19751 {
  position:absolute;
  left:50px;
  top:13px;
  width:148px;
  word-wrap:break-word;
}
#u19752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u19752 {
  position:absolute;
  left:0px;
  top:166px;
  width:200px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19752_img.mouseOver {
}
#u19752.mouseOver {
}
#u19752_img.selected {
}
#u19752.selected {
}
#u19753 {
  position:absolute;
  left:50px;
  top:13px;
  width:148px;
  word-wrap:break-word;
}
#u19754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u19754 {
  position:absolute;
  left:0px;
  top:210px;
  width:200px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19754_img.mouseOver {
}
#u19754.mouseOver {
}
#u19754_img.selected {
}
#u19754.selected {
}
#u19755 {
  position:absolute;
  left:50px;
  top:13px;
  width:148px;
  word-wrap:break-word;
}
#u19756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u19756 {
  position:absolute;
  left:13px;
  top:25px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19757 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u19758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
}
#u19758 {
  position:absolute;
  left:59px;
  top:22px;
  width:54px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u19759 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u19760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19760 {
  position:absolute;
  left:143px;
  top:20px;
  width:40px;
  height:30px;
  font-size:10px;
}
#u19761 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u19762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u19762 {
  position:absolute;
  left:0px;
  top:116px;
  width:200px;
  height:1px;
}
#u19763 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19764 {
  position:absolute;
  left:13px;
  top:70px;
  width:76px;
  height:30px;
  font-size:10px;
}
#u19765 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u19766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#000000;
}
#u19766 {
  position:absolute;
  left:107px;
  top:70px;
  width:76px;
  height:30px;
  font-size:10px;
  color:#000000;
}
#u19767 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u19768 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19769 {
  position:absolute;
  left:1382px;
  top:155px;
  width:30px;
  height:14px;
}
#u19770 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u19771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19771 {
  position:absolute;
  left:1417px;
  top:158px;
  width:10px;
  height:10px;
}
#u19772 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19774 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19775 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19776 {
  position:absolute;
  left:1199px;
  top:156px;
  width:74px;
  height:14px;
}
#u19777 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u19778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19778 {
  position:absolute;
  left:1283px;
  top:158px;
  width:10px;
  height:10px;
}
#u19779 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:20px;
}
#u19780 {
  position:absolute;
  left:1159px;
  top:148px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:20px;
}
#u19781 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u19782 {
  position:absolute;
  left:1126px;
  top:191px;
  visibility:hidden;
}
#u19782_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u19782_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:346px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19783 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:346px;
}
#u19784 {
  position:absolute;
  left:2px;
  top:165px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19785 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u19786 {
  position:absolute;
  left:0px;
  top:11px;
  width:200px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19786_img.mouseOver {
}
#u19786.mouseOver {
}
#u19786_img.selected {
}
#u19786.selected {
}
#u19787 {
  position:absolute;
  left:50px;
  top:13px;
  width:148px;
  word-wrap:break-word;
}
#u19788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u19788 {
  position:absolute;
  left:0px;
  top:201px;
  width:200px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19788_img.mouseOver {
}
#u19788.mouseOver {
}
#u19788_img.selected {
}
#u19788.selected {
}
#u19789 {
  position:absolute;
  left:50px;
  top:13px;
  width:148px;
  word-wrap:break-word;
}
#u19790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u19790 {
  position:absolute;
  left:0px;
  top:56px;
  width:200px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19790_img.mouseOver {
}
#u19790.mouseOver {
}
#u19790_img.selected {
}
#u19790.selected {
}
#u19791 {
  position:absolute;
  left:50px;
  top:13px;
  width:148px;
  word-wrap:break-word;
}
#u19792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u19792 {
  position:absolute;
  left:0px;
  top:301px;
  width:200px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19792_img.mouseOver {
}
#u19792.mouseOver {
}
#u19792_img.selected {
}
#u19792.selected {
}
#u19793 {
  position:absolute;
  left:50px;
  top:13px;
  width:148px;
  word-wrap:break-word;
}
#u19794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u19794 {
  position:absolute;
  left:0px;
  top:101px;
  width:200px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19794_img.mouseOver {
}
#u19794.mouseOver {
}
#u19794_img.selected {
}
#u19794.selected {
}
#u19795 {
  position:absolute;
  left:50px;
  top:13px;
  width:148px;
  word-wrap:break-word;
}
#u19796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u19796 {
  position:absolute;
  left:0px;
  top:256px;
  width:200px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u19796_img.mouseOver {
}
#u19796.mouseOver {
}
#u19796_img.selected {
}
#u19796.selected {
}
#u19797 {
  position:absolute;
  left:50px;
  top:13px;
  width:148px;
  word-wrap:break-word;
}
#u19798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u19798 {
  position:absolute;
  left:0px;
  top:151px;
  width:200px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19798_img.mouseOver {
}
#u19798.mouseOver {
}
#u19798_img.selected {
}
#u19798.selected {
}
#u19799 {
  position:absolute;
  left:50px;
  top:13px;
  width:148px;
  word-wrap:break-word;
}
#u19800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u19800 {
  position:absolute;
  left:0px;
  top:255px;
  width:200px;
  height:1px;
}
#u19801 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19803 {
  position:absolute;
  left:1212px;
  top:191px;
  width:217px;
  height:264px;
  overflow:hidden;
  visibility:hidden;
}
#u19803_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:264px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19803_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:264px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19804 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:264px;
}
#u19805 {
  position:absolute;
  left:2px;
  top:124px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19806 {
  position:absolute;
  left:2px;
  top:1px;
  width:215px;
  height:30px;
}
#u19807 {
  position:absolute;
  left:2px;
  top:7px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:2px;
}
#u19808 {
  position:absolute;
  left:1px;
  top:72px;
  width:215px;
  height:1px;
}
#u19809 {
  position:absolute;
  left:2px;
  top:-8px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:2px;
}
#u19810 {
  position:absolute;
  left:1px;
  top:113px;
  width:215px;
  height:1px;
}
#u19811 {
  position:absolute;
  left:2px;
  top:-8px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:2px;
}
#u19812 {
  position:absolute;
  left:1px;
  top:153px;
  width:215px;
  height:1px;
}
#u19813 {
  position:absolute;
  left:2px;
  top:-8px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:2px;
}
#u19814 {
  position:absolute;
  left:2px;
  top:192px;
  width:215px;
  height:1px;
}
#u19815 {
  position:absolute;
  left:2px;
  top:-8px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:2px;
}
#u19816 {
  position:absolute;
  left:2px;
  top:232px;
  width:215px;
  height:1px;
}
#u19817 {
  position:absolute;
  left:2px;
  top:-8px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:18px;
}
#u19818 {
  position:absolute;
  left:11px;
  top:240px;
  width:89px;
  height:18px;
  font-size:12px;
}
#u19819 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u19820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:29px;
}
#u19820 {
  position:absolute;
  left:11px;
  top:198px;
  width:108px;
  height:29px;
  font-size:12px;
  line-height:14px;
}
#u19821 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u19822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:29px;
}
#u19822 {
  position:absolute;
  left:11px;
  top:159px;
  width:200px;
  height:29px;
  font-size:12px;
  line-height:14px;
}
#u19823 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u19824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
}
#u19824 {
  position:absolute;
  left:11px;
  top:118px;
  width:109px;
  height:29px;
  font-size:12px;
  line-height:14px;
}
#u19825 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u19826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:29px;
}
#u19826 {
  position:absolute;
  left:11px;
  top:77px;
  width:108px;
  height:29px;
  font-size:12px;
  line-height:14px;
}
#u19827 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u19828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:29px;
}
#u19828 {
  position:absolute;
  left:11px;
  top:39px;
  width:108px;
  height:29px;
  font-size:12px;
  line-height:14px;
}
#u19829 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u19830 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u19831 {
  position:absolute;
  left:1396px;
  top:153px;
  width:21px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
  line-height:20px;
}
#u19832 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u19833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(249, 94, 90, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u19833 {
  position:absolute;
  left:1417px;
  top:150px;
  width:12px;
  height:12px;
  font-size:12px;
  color:#FFFFFF;
}
#u19834 {
  position:absolute;
  left:0px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
