body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2026px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19196 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19197 {
  position:absolute;
  left:252px;
  top:134px;
  width:1200px;
  height:60px;
  color:#999999;
}
#u19198 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19199 {
  position:absolute;
  left:558px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19199_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19199.selected {
}
#u19200 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u19201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19201 {
  position:absolute;
  left:636px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19201_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19201.mouseOver {
}
#u19201_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19201.selected {
}
#u19202 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u19203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19203 {
  position:absolute;
  left:716px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19203_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19203.mouseOver {
}
#u19203_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19203.selected {
}
#u19204 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u19205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19205 {
  position:absolute;
  left:796px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19205_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19205.mouseOver {
}
#u19205_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19205.selected {
}
#u19206 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u19207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19207 {
  position:absolute;
  left:876px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19207_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19207.mouseOver {
}
#u19207_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19207.selected {
}
#u19208 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u19209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19209 {
  position:absolute;
  left:479px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19209_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19209.mouseOver {
}
#u19209_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19209.selected {
}
#u19210 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u19211 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u19212 {
  position:absolute;
  left:333px;
  top:134px;
  width:146px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u19213 {
  position:absolute;
  left:0px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u19214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:36px;
}
#u19214 {
  position:absolute;
  left:270px;
  top:144px;
  width:44px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:36px;
}
#u19215 {
  position:absolute;
  left:0px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u19216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19216 {
  position:absolute;
  left:956px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19216_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19216.mouseOver {
}
#u19216_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19216.selected {
}
#u19217 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u19218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19218 {
  position:absolute;
  left:1036px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19218_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19218.mouseOver {
}
#u19218_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u19218.selected {
}
#u19219 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u19221 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19223 {
  position:absolute;
  left:1201px;
  top:157px;
  width:74px;
  height:14px;
}
#u19224 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u19225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19225 {
  position:absolute;
  left:1285px;
  top:159px;
  width:10px;
  height:10px;
}
#u19226 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:20px;
}
#u19227 {
  position:absolute;
  left:1161px;
  top:149px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:20px;
}
#u19228 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u19229 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19230 {
  position:absolute;
  left:1323px;
  top:157px;
  width:30px;
  height:14px;
}
#u19231 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u19232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19232 {
  position:absolute;
  left:1358px;
  top:160px;
  width:10px;
  height:10px;
}
#u19233 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:750px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19234 {
  position:absolute;
  left:479px;
  top:194px;
  width:973px;
  height:750px;
}
#u19235 {
  position:absolute;
  left:2px;
  top:367px;
  width:969px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19237 {
  position:absolute;
  left:397px;
  top:404px;
  width:74px;
  height:14px;
}
#u19238 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u19239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19239 {
  position:absolute;
  left:397px;
  top:486px;
  width:59px;
  height:14px;
}
#u19240 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u19241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:750px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19241 {
  position:absolute;
  left:252px;
  top:194px;
  width:227px;
  height:750px;
}
#u19242 {
  position:absolute;
  left:2px;
  top:367px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u19243 {
  position:absolute;
  left:327px;
  top:232px;
  width:81px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u19244 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u19245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19245 {
  position:absolute;
  left:253px;
  top:309px;
  width:224px;
  height:50px;
}
#u19246 {
  position:absolute;
  left:2px;
  top:17px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19247 {
  position:absolute;
  left:338px;
  top:327px;
  width:59px;
  height:14px;
}
#u19248 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u19249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u19249 {
  position:absolute;
  left:421px;
  top:327px;
  width:11px;
  height:15px;
}
#u19250 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:2px;
}
#u19251 {
  position:absolute;
  left:254px;
  top:285px;
  width:225px;
  height:1px;
}
#u19252 {
  position:absolute;
  left:2px;
  top:-8px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:20px;
}
#u19253 {
  position:absolute;
  left:242px;
  top:681px;
  width:174px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:20px;
}
#u19254 {
  position:absolute;
  left:2px;
  top:5px;
  width:170px;
  word-wrap:break-word;
}
#u19255_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u19255 {
  position:absolute;
  left:271px;
  top:686px;
  width:2px;
  height:20px;
}
#u19256 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u19257 {
  position:absolute;
  left:270px;
  top:786px;
  width:12px;
  height:14px;
  color:#999999;
  text-align:center;
}
#u19258 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u19259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u19259 {
  position:absolute;
  left:270px;
  top:741px;
  width:15px;
  height:25px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u19260 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u19261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:14px;
}
#u19261 {
  position:absolute;
  left:304px;
  top:789px;
  width:135px;
  height:14px;
}
#u19262 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u19263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:14px;
}
#u19263 {
  position:absolute;
  left:301px;
  top:743px;
  width:89px;
  height:14px;
}
#u19264 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u19265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u19265 {
  position:absolute;
  left:270px;
  top:833px;
  width:12px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u19266 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u19267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u19267 {
  position:absolute;
  left:302px;
  top:836px;
  width:167px;
  height:40px;
  line-height:20px;
}
#u19268 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u19269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:2px;
}
#u19269 {
  position:absolute;
  left:479px;
  top:274px;
  width:973px;
  height:1px;
}
#u19270 {
  position:absolute;
  left:2px;
  top:-8px;
  width:969px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19271 {
  position:absolute;
  left:538px;
  top:228px;
  width:243px;
  height:14px;
}
#u19272 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u19273_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:669px;
  height:6px;
}
#u19273 {
  position:absolute;
  left:615px;
  top:307px;
  width:666px;
  height:3px;
  font-size:16px;
  color:#999999;
}
#u19274 {
  position:absolute;
  left:2px;
  top:-6px;
  width:662px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19275_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:82px;
  height:6px;
}
#u19275 {
  position:absolute;
  left:615px;
  top:307px;
  width:79px;
  height:3px;
  font-size:16px;
  color:#999999;
}
#u19276 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:20px;
}
#u19277 {
  position:absolute;
  left:560px;
  top:321px;
  width:101px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:20px;
}
#u19278 {
  position:absolute;
  left:2px;
  top:5px;
  width:97px;
  word-wrap:break-word;
}
#u19279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u19279 {
  position:absolute;
  left:781px;
  top:320px;
  width:135px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u19280 {
  position:absolute;
  left:10px;
  top:5px;
  width:123px;
  word-wrap:break-word;
}
#u19281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u19281 {
  position:absolute;
  left:978px;
  top:320px;
  width:197px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u19282 {
  position:absolute;
  left:2px;
  top:5px;
  width:193px;
  word-wrap:break-word;
}
#u19283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19283 {
  position:absolute;
  left:1073px;
  top:303px;
  width:10px;
  height:10px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u19284 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19285 {
  position:absolute;
  left:603px;
  top:299px;
  width:20px;
  height:20px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19286 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19287 {
  position:absolute;
  left:880px;
  top:874px;
  width:135px;
  height:40px;
}
#u19288 {
  position:absolute;
  left:2px;
  top:13px;
  width:131px;
  word-wrap:break-word;
}
#u19289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19289 {
  position:absolute;
  left:847px;
  top:304px;
  width:10px;
  height:10px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u19290 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:14px;
}
#u19291 {
  position:absolute;
  left:615px;
  top:428px;
  width:116px;
  height:14px;
}
#u19292 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u19293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:14px;
}
#u19293 {
  position:absolute;
  left:627px;
  top:539px;
  width:102px;
  height:14px;
}
#u19294 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u19295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:14px;
}
#u19295 {
  position:absolute;
  left:629px;
  top:651px;
  width:102px;
  height:14px;
}
#u19296 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u19297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u19297 {
  position:absolute;
  left:1484px;
  top:583px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u19298 {
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u19299 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19300 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:10px;
}
#u19301 {
  position:absolute;
  left:1913px;
  top:622px;
  width:30px;
  height:10px;
  font-size:10px;
  text-align:center;
  line-height:16px;
}
#u19302 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  word-wrap:break-word;
}
#u19303 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:8px;
  background:inherit;
  background-color:rgba(233, 233, 233, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u19304 {
  position:absolute;
  left:1604px;
  top:623px;
  width:300px;
  height:8px;
  font-size:10px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u19305 {
  position:absolute;
  left:12px;
  top:-4px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:8px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  line-height:16px;
}
#u19306 {
  position:absolute;
  left:1604px;
  top:623px;
  width:150px;
  height:8px;
  font-size:10px;
  color:#FFFFFF;
  line-height:16px;
}
#u19307 {
  position:absolute;
  left:2px;
  top:-4px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19308 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19309 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:8px;
  background:inherit;
  background-color:rgba(233, 233, 233, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u19310 {
  position:absolute;
  left:1604px;
  top:681px;
  width:300px;
  height:8px;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u19311 {
  position:absolute;
  left:12px;
  top:-4px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 59, 48, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u19312 {
  position:absolute;
  left:1604px;
  top:681px;
  width:200px;
  height:8px;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u19313 {
  position:absolute;
  left:2px;
  top:-4px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:10px;
}
#u19314 {
  position:absolute;
  left:1914px;
  top:680px;
  width:30px;
  height:10px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3B30;
  text-align:center;
  line-height:16px;
}
#u19315 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  word-wrap:break-word;
}
#u19316 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19317 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:8px;
  background:inherit;
  background-color:rgba(233, 233, 233, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u19318 {
  position:absolute;
  left:1604px;
  top:740px;
  width:300px;
  height:8px;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u19319 {
  position:absolute;
  left:12px;
  top:-4px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:8px;
  background:inherit;
  background-color:rgba(75, 216, 99, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u19320 {
  position:absolute;
  left:1604px;
  top:740px;
  width:300px;
  height:8px;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u19321 {
  position:absolute;
  left:2px;
  top:-4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:10px;
}
#u19322 {
  position:absolute;
  left:1914px;
  top:739px;
  width:30px;
  height:10px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4BD863;
  text-align:center;
  line-height:16px;
}
#u19323 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  word-wrap:break-word;
}
#u19324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u19324 {
  position:absolute;
  left:1604px;
  top:583px;
  width:218px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u19325 {
  position:absolute;
  left:2px;
  top:6px;
  width:214px;
  word-wrap:break-word;
}
#u19326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u19326 {
  position:absolute;
  left:1604px;
  top:641px;
  width:218px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u19327 {
  position:absolute;
  left:2px;
  top:6px;
  width:214px;
  word-wrap:break-word;
}
#u19328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u19328 {
  position:absolute;
  left:1604px;
  top:700px;
  width:218px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u19329 {
  position:absolute;
  left:2px;
  top:6px;
  width:214px;
  word-wrap:break-word;
}
#u19330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u19330 {
  position:absolute;
  left:1953px;
  top:612px;
  width:72px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u19331 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u19332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u19332 {
  position:absolute;
  left:1954px;
  top:670px;
  width:72px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
#u19333 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u19334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u19334 {
  position:absolute;
  left:1954px;
  top:729px;
  width:72px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u19335 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u19336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u19336 {
  position:absolute;
  left:1822px;
  top:583px;
  width:82px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u19337 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u19338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u19338 {
  position:absolute;
  left:1822px;
  top:641px;
  width:82px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u19339 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u19340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u19340 {
  position:absolute;
  left:1822px;
  top:700px;
  width:82px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u19341 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u19342 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19343 {
  position:absolute;
  left:769px;
  top:413px;
  width:120px;
  height:40px;
  color:#999999;
}
#u19343_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19343.mouseOver {
}
#u19344 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u19345 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19346 {
  position:absolute;
  left:769px;
  top:527px;
  width:120px;
  height:40px;
  color:#999999;
}
#u19346_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19346.mouseOver {
}
#u19347 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u19348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u19348 {
  position:absolute;
  left:769px;
  top:568px;
  width:603px;
  height:34px;
  color:#CCCCCC;
  text-align:left;
}
#u19349 {
  position:absolute;
  left:2px;
  top:-2px;
  width:599px;
  word-wrap:break-word;
}
#u19350 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19351 {
  position:absolute;
  left:769px;
  top:637px;
  width:120px;
  height:40px;
  color:#999999;
}
#u19351_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19351.mouseOver {
}
#u19352 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u19353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u19353 {
  position:absolute;
  left:769px;
  top:678px;
  width:603px;
  height:34px;
  color:#CCCCCC;
  text-align:left;
}
#u19354 {
  position:absolute;
  left:2px;
  top:-2px;
  width:599px;
  word-wrap:break-word;
}
#u19355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u19355 {
  position:absolute;
  left:1504px;
  top:499px;
  width:449px;
  height:32px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u19356 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  white-space:nowrap;
}
#u19357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:19px;
}
#u19357 {
  position:absolute;
  left:998px;
  top:420px;
  width:188px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#169BD5;
}
#u19358 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u19359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u19359 {
  position:absolute;
  left:970px;
  top:422px;
  width:19px;
  height:20px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#169BD5;
  text-align:center;
}
#u19360 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u19361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:19px;
}
#u19361 {
  position:absolute;
  left:998px;
  top:536px;
  width:217px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#169BD5;
}
#u19362 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u19363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u19363 {
  position:absolute;
  left:970px;
  top:538px;
  width:19px;
  height:20px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#169BD5;
  text-align:center;
}
#u19364 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u19365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u19365 {
  position:absolute;
  left:998px;
  top:645px;
  width:145px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#169BD5;
}
#u19366 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u19367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u19367 {
  position:absolute;
  left:970px;
  top:647px;
  width:19px;
  height:20px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#169BD5;
  text-align:center;
}
#u19368 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u19369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u19369 {
  position:absolute;
  left:1174px;
  top:320px;
  width:197px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u19370 {
  position:absolute;
  left:2px;
  top:5px;
  width:193px;
  word-wrap:break-word;
}
#u19371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u19371 {
  position:absolute;
  left:1278px;
  top:304px;
  width:10px;
  height:10px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u19372 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u19373 {
  position:absolute;
  left:769px;
  top:458px;
  width:615px;
  height:34px;
  color:#CCCCCC;
  text-align:left;
}
#u19374 {
  position:absolute;
  left:2px;
  top:-2px;
  width:611px;
  word-wrap:break-word;
}
#u19375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:14px;
}
#u19375 {
  position:absolute;
  left:583px;
  top:752px;
  width:145px;
  height:14px;
}
#u19376 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u19377 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19378 {
  position:absolute;
  left:769px;
  top:739px;
  width:120px;
  height:40px;
  color:#999999;
}
#u19378_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19378.mouseOver {
}
#u19379 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u19380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u19380 {
  position:absolute;
  left:769px;
  top:780px;
  width:603px;
  height:34px;
  color:#CCCCCC;
  text-align:left;
}
#u19381 {
  position:absolute;
  left:2px;
  top:-2px;
  width:599px;
  word-wrap:break-word;
}
#u19382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:19px;
}
#u19382 {
  position:absolute;
  left:998px;
  top:747px;
  width:231px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#169BD5;
}
#u19383 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u19384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u19384 {
  position:absolute;
  left:970px;
  top:749px;
  width:19px;
  height:20px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#169BD5;
  text-align:center;
}
#u19385 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
