body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1452px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4083 {
  position:absolute;
  left:479px;
  top:394px;
  width:973px;
  height:550px;
}
#u4084 {
  position:absolute;
  left:2px;
  top:267px;
  width:969px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:487px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4085 {
  position:absolute;
  left:479px;
  top:457px;
  width:973px;
  height:487px;
}
#u4086 {
  position:absolute;
  left:2px;
  top:236px;
  width:969px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4087 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4088 {
  position:absolute;
  left:252px;
  top:134px;
  width:1200px;
  height:60px;
  color:#999999;
}
#u4089 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4090 {
  position:absolute;
  left:558px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4090_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4090.selected {
}
#u4091 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u4092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4092 {
  position:absolute;
  left:636px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4092_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4092.mouseOver {
}
#u4092_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4092.selected {
}
#u4093 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u4094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4094 {
  position:absolute;
  left:716px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4094_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4094.mouseOver {
}
#u4094_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4094.selected {
}
#u4095 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u4096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4096 {
  position:absolute;
  left:796px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4096_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4096.mouseOver {
}
#u4096_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4096.selected {
}
#u4097 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u4098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4098 {
  position:absolute;
  left:876px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4098_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4098.mouseOver {
}
#u4098_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4098.selected {
}
#u4099 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u4100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4100 {
  position:absolute;
  left:479px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4100_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4100.mouseOver {
}
#u4100_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4100.selected {
}
#u4101 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u4102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u4103 {
  position:absolute;
  left:333px;
  top:134px;
  width:146px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u4104 {
  position:absolute;
  left:0px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u4105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:36px;
}
#u4105 {
  position:absolute;
  left:270px;
  top:144px;
  width:44px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:36px;
}
#u4106 {
  position:absolute;
  left:0px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u4107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4107 {
  position:absolute;
  left:956px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4107_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4107.mouseOver {
}
#u4107_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4107.selected {
}
#u4108 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u4109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4109 {
  position:absolute;
  left:1036px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4109_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4109.mouseOver {
}
#u4109_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u4109.selected {
}
#u4110 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u4112 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4114 {
  position:absolute;
  left:1322px;
  top:157px;
  width:74px;
  height:14px;
}
#u4115 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u4116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4116 {
  position:absolute;
  left:1406px;
  top:159px;
  width:10px;
  height:10px;
}
#u4117 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:20px;
}
#u4118 {
  position:absolute;
  left:1282px;
  top:149px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:20px;
}
#u4119 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u4121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4121 {
  position:absolute;
  left:397px;
  top:604px;
  width:74px;
  height:14px;
}
#u4122 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u4123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4123 {
  position:absolute;
  left:397px;
  top:686px;
  width:59px;
  height:14px;
}
#u4124 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4125 {
  position:absolute;
  left:252px;
  top:394px;
  width:227px;
  height:550px;
}
#u4126 {
  position:absolute;
  left:2px;
  top:267px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4127 {
  position:absolute;
  left:254px;
  top:566px;
  width:224px;
  height:50px;
}
#u4128 {
  position:absolute;
  left:2px;
  top:17px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4129 {
  position:absolute;
  left:334px;
  top:434px;
  width:59px;
  height:14px;
}
#u4130 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4131 {
  position:absolute;
  left:334px;
  top:484px;
  width:59px;
  height:14px;
}
#u4132 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4133 {
  position:absolute;
  left:334px;
  top:534px;
  width:59px;
  height:14px;
}
#u4134 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4135 {
  position:absolute;
  left:334px;
  top:635px;
  width:59px;
  height:14px;
}
#u4136 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4137 {
  position:absolute;
  left:334px;
  top:685px;
  width:59px;
  height:14px;
}
#u4138 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4139 {
  position:absolute;
  left:334px;
  top:735px;
  width:59px;
  height:14px;
}
#u4140 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u4141 {
  position:absolute;
  left:422px;
  top:584px;
  width:10px;
  height:15px;
}
#u4142 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4143 {
  position:absolute;
  left:334px;
  top:584px;
  width:59px;
  height:14px;
}
#u4144 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4146 {
  position:absolute;
  left:252px;
  top:194px;
  width:1200px;
  height:200px;
}
#u4147 {
  position:absolute;
  left:2px;
  top:92px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4148 {
  position:absolute;
  left:333px;
  top:335px;
  width:106px;
  height:20px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4149 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u4150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:20px;
}
#u4150 {
  position:absolute;
  left:333px;
  top:225px;
  width:100px;
  height:100px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:20px;
}
#u4151 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  word-wrap:break-word;
}
#u4152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4152 {
  position:absolute;
  left:526px;
  top:216px;
  width:70px;
  height:14px;
}
#u4153 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u4154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4154 {
  position:absolute;
  left:526px;
  top:239px;
  width:59px;
  height:14px;
}
#u4155 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4156 {
  position:absolute;
  left:526px;
  top:262px;
  width:59px;
  height:14px;
}
#u4157 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4158 {
  position:absolute;
  left:526px;
  top:284px;
  width:62px;
  height:14px;
}
#u4159 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u4160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:88px;
}
#u4160 {
  position:absolute;
  left:607px;
  top:284px;
  width:385px;
  height:88px;
  line-height:18px;
}
#u4161 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  word-wrap:break-word;
}
#u4162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u4162 {
  position:absolute;
  left:607px;
  top:216px;
  width:15px;
  height:14px;
}
#u4163 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u4164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u4164 {
  position:absolute;
  left:607px;
  top:239px;
  width:30px;
  height:14px;
}
#u4165 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u4166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
}
#u4166 {
  position:absolute;
  left:607px;
  top:262px;
  width:75px;
  height:14px;
}
#u4167 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u4168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4168 {
  position:absolute;
  left:1043px;
  top:305px;
  width:33px;
  height:16px;
  font-size:16px;
}
#u4169 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4170 {
  position:absolute;
  left:1113px;
  top:305px;
  width:33px;
  height:16px;
  font-size:16px;
}
#u4171 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4172 {
  position:absolute;
  left:1182px;
  top:305px;
  width:33px;
  height:16px;
  font-size:16px;
}
#u4173 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u4174 {
  position:absolute;
  left:1051px;
  top:258px;
  width:16px;
  height:28px;
  font-size:28px;
}
#u4175 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u4176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u4176 {
  position:absolute;
  left:1121px;
  top:258px;
  width:16px;
  height:28px;
  font-size:28px;
}
#u4177 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u4178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u4178 {
  position:absolute;
  left:1190px;
  top:258px;
  width:16px;
  height:28px;
  font-size:28px;
}
#u4179 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u4180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4180 {
  position:absolute;
  left:1282px;
  top:263px;
  width:75px;
  height:40px;
}
#u4181 {
  position:absolute;
  left:2px;
  top:13px;
  width:71px;
  word-wrap:break-word;
}
#u4182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u4182 {
  position:absolute;
  left:636px;
  top:213px;
  width:18px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u4183 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u4184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u4184 {
  position:absolute;
  left:647px;
  top:236px;
  width:18px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u4185 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u4186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u4186 {
  position:absolute;
  left:689px;
  top:259px;
  width:18px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u4187 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u4188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u4188 {
  position:absolute;
  left:992px;
  top:352px;
  width:18px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u4189 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u4190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u4190 {
  position:absolute;
  left:526px;
  top:423px;
  width:30px;
  height:14px;
}
#u4191 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u4192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:2px;
}
#u4192 {
  position:absolute;
  left:482px;
  top:455px;
  width:970px;
  height:1px;
  color:#CCCCCC;
}
#u4193 {
  position:absolute;
  left:2px;
  top:-8px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4194_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:64px;
  height:5px;
}
#u4194 {
  position:absolute;
  left:509px;
  top:455px;
  width:61px;
  height:2px;
}
#u4195 {
  position:absolute;
  left:2px;
  top:-7px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4196 {
  position:absolute;
  left:534px;
  top:474px;
  width:131px;
  height:40px;
}
#u4197 {
  position:absolute;
  left:2px;
  top:13px;
  width:127px;
  word-wrap:break-word;
}
#u4198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4198 {
  position:absolute;
  left:688px;
  top:474px;
  width:108px;
  height:40px;
  color:#999999;
}
#u4199 {
  position:absolute;
  left:2px;
  top:13px;
  width:104px;
  word-wrap:break-word;
}
#u4200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4200 {
  position:absolute;
  left:535px;
  top:545px;
  width:250px;
  height:232px;
}
#u4201 {
  position:absolute;
  left:2px;
  top:108px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:157px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u4202 {
  position:absolute;
  left:557px;
  top:567px;
  width:211px;
  height:157px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u4203 {
  position:absolute;
  left:0px;
  top:68px;
  width:211px;
  word-wrap:break-word;
}
#u4204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u4204 {
  position:absolute;
  left:557px;
  top:747px;
  width:59px;
  height:14px;
}
#u4205 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u4206 {
  position:absolute;
  left:749px;
  top:744px;
  width:19px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u4207 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u4208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4208 {
  position:absolute;
  left:722px;
  top:571px;
  width:40px;
  height:38px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4208_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4208.mouseOver {
}
#u4209 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
#u4210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u4210 {
  position:absolute;
  left:726px;
  top:687px;
  width:33px;
  height:28px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4211 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4212 {
  position:absolute;
  left:831px;
  top:545px;
  width:250px;
  height:232px;
}
#u4213 {
  position:absolute;
  left:2px;
  top:108px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:157px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u4214 {
  position:absolute;
  left:844px;
  top:567px;
  width:219px;
  height:157px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u4215 {
  position:absolute;
  left:0px;
  top:68px;
  width:219px;
  word-wrap:break-word;
}
#u4216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u4216 {
  position:absolute;
  left:844px;
  top:744px;
  width:59px;
  height:14px;
}
#u4217 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u4218 {
  position:absolute;
  left:1037px;
  top:744px;
  width:19px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u4219 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u4220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4220 {
  position:absolute;
  left:1016px;
  top:571px;
  width:40px;
  height:38px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4220_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4220.mouseOver {
}
#u4221 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
#u4222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u4222 {
  position:absolute;
  left:1020px;
  top:687px;
  width:33px;
  height:28px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4223 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4224 {
  position:absolute;
  left:1132px;
  top:545px;
  width:250px;
  height:232px;
}
#u4225 {
  position:absolute;
  left:2px;
  top:108px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:157px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u4226 {
  position:absolute;
  left:1145px;
  top:567px;
  width:219px;
  height:157px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u4227 {
  position:absolute;
  left:0px;
  top:68px;
  width:219px;
  word-wrap:break-word;
}
#u4228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u4228 {
  position:absolute;
  left:1145px;
  top:744px;
  width:59px;
  height:14px;
}
#u4229 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u4230 {
  position:absolute;
  left:1338px;
  top:744px;
  width:19px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u4231 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u4232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4232 {
  position:absolute;
  left:1317px;
  top:571px;
  width:40px;
  height:38px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4232_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4232.mouseOver {
}
#u4233 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
#u4234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u4234 {
  position:absolute;
  left:1321px;
  top:687px;
  width:33px;
  height:28px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4235 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
