body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1452px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6678 {
  position:absolute;
  left:479px;
  top:394px;
  width:973px;
  height:550px;
}
#u6679 {
  position:absolute;
  left:2px;
  top:267px;
  width:969px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:487px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6680 {
  position:absolute;
  left:479px;
  top:457px;
  width:973px;
  height:487px;
}
#u6681 {
  position:absolute;
  left:2px;
  top:236px;
  width:969px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6682 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6683 {
  position:absolute;
  left:252px;
  top:134px;
  width:1200px;
  height:60px;
  color:#999999;
}
#u6684 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6685 {
  position:absolute;
  left:558px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6685_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6685.selected {
}
#u6686 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u6687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6687 {
  position:absolute;
  left:636px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6687_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6687.mouseOver {
}
#u6687_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6687.selected {
}
#u6688 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u6689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6689 {
  position:absolute;
  left:716px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6689_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6689.mouseOver {
}
#u6689_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6689.selected {
}
#u6690 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u6691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6691 {
  position:absolute;
  left:796px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6691_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6691.mouseOver {
}
#u6691_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6691.selected {
}
#u6692 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u6693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6693 {
  position:absolute;
  left:876px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6693_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6693.mouseOver {
}
#u6693_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6693.selected {
}
#u6694 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u6695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6695 {
  position:absolute;
  left:479px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6695_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6695.mouseOver {
}
#u6695_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6695.selected {
}
#u6696 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u6697 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u6698 {
  position:absolute;
  left:333px;
  top:134px;
  width:146px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u6699 {
  position:absolute;
  left:0px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u6700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:36px;
}
#u6700 {
  position:absolute;
  left:270px;
  top:144px;
  width:44px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:36px;
}
#u6701 {
  position:absolute;
  left:0px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u6702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6702 {
  position:absolute;
  left:956px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6702_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6702.mouseOver {
}
#u6702_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6702.selected {
}
#u6703 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u6704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6704 {
  position:absolute;
  left:1036px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6704_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6704.mouseOver {
}
#u6704_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6704.selected {
}
#u6705 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u6707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6707 {
  position:absolute;
  left:397px;
  top:604px;
  width:74px;
  height:14px;
}
#u6708 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u6709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6709 {
  position:absolute;
  left:397px;
  top:686px;
  width:59px;
  height:14px;
}
#u6710 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6711 {
  position:absolute;
  left:252px;
  top:394px;
  width:227px;
  height:550px;
}
#u6712 {
  position:absolute;
  left:2px;
  top:267px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6713 {
  position:absolute;
  left:254px;
  top:566px;
  width:224px;
  height:50px;
}
#u6714 {
  position:absolute;
  left:2px;
  top:17px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6715 {
  position:absolute;
  left:334px;
  top:434px;
  width:59px;
  height:14px;
}
#u6716 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6717 {
  position:absolute;
  left:334px;
  top:484px;
  width:59px;
  height:14px;
}
#u6718 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6719 {
  position:absolute;
  left:334px;
  top:534px;
  width:59px;
  height:14px;
}
#u6720 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6721 {
  position:absolute;
  left:334px;
  top:635px;
  width:59px;
  height:14px;
}
#u6722 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6723 {
  position:absolute;
  left:334px;
  top:685px;
  width:59px;
  height:14px;
}
#u6724 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6725 {
  position:absolute;
  left:334px;
  top:735px;
  width:59px;
  height:14px;
}
#u6726 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u6727 {
  position:absolute;
  left:422px;
  top:584px;
  width:10px;
  height:15px;
}
#u6728 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6729 {
  position:absolute;
  left:334px;
  top:584px;
  width:59px;
  height:14px;
}
#u6730 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6732 {
  position:absolute;
  left:252px;
  top:194px;
  width:1200px;
  height:200px;
}
#u6733 {
  position:absolute;
  left:2px;
  top:92px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6734 {
  position:absolute;
  left:333px;
  top:335px;
  width:106px;
  height:20px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6735 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u6736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:20px;
}
#u6736 {
  position:absolute;
  left:333px;
  top:225px;
  width:100px;
  height:100px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:20px;
}
#u6737 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  word-wrap:break-word;
}
#u6738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6738 {
  position:absolute;
  left:526px;
  top:216px;
  width:70px;
  height:14px;
}
#u6739 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u6740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6740 {
  position:absolute;
  left:526px;
  top:239px;
  width:59px;
  height:14px;
}
#u6741 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6742 {
  position:absolute;
  left:526px;
  top:262px;
  width:59px;
  height:14px;
}
#u6743 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6744 {
  position:absolute;
  left:526px;
  top:284px;
  width:62px;
  height:14px;
}
#u6745 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u6746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:88px;
}
#u6746 {
  position:absolute;
  left:607px;
  top:284px;
  width:385px;
  height:88px;
  line-height:18px;
}
#u6747 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  word-wrap:break-word;
}
#u6748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u6748 {
  position:absolute;
  left:607px;
  top:216px;
  width:15px;
  height:14px;
}
#u6749 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u6750 {
  position:absolute;
  left:607px;
  top:239px;
  width:30px;
  height:14px;
}
#u6751 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u6752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
}
#u6752 {
  position:absolute;
  left:607px;
  top:262px;
  width:75px;
  height:14px;
}
#u6753 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u6754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6754 {
  position:absolute;
  left:1043px;
  top:305px;
  width:33px;
  height:16px;
  font-size:16px;
}
#u6755 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6756 {
  position:absolute;
  left:1113px;
  top:305px;
  width:33px;
  height:16px;
  font-size:16px;
}
#u6757 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6758 {
  position:absolute;
  left:1182px;
  top:305px;
  width:33px;
  height:16px;
  font-size:16px;
}
#u6759 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6760 {
  position:absolute;
  left:1051px;
  top:258px;
  width:16px;
  height:28px;
  font-size:28px;
}
#u6761 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u6762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6762 {
  position:absolute;
  left:1121px;
  top:258px;
  width:16px;
  height:28px;
  font-size:28px;
}
#u6763 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u6764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6764 {
  position:absolute;
  left:1190px;
  top:258px;
  width:16px;
  height:28px;
  font-size:28px;
}
#u6765 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u6766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6766 {
  position:absolute;
  left:1282px;
  top:263px;
  width:75px;
  height:40px;
}
#u6767 {
  position:absolute;
  left:2px;
  top:13px;
  width:71px;
  word-wrap:break-word;
}
#u6768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u6768 {
  position:absolute;
  left:636px;
  top:213px;
  width:18px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u6769 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u6770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u6770 {
  position:absolute;
  left:647px;
  top:236px;
  width:18px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u6771 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u6772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u6772 {
  position:absolute;
  left:689px;
  top:259px;
  width:18px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u6773 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u6774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u6774 {
  position:absolute;
  left:992px;
  top:352px;
  width:18px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u6775 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u6776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u6776 {
  position:absolute;
  left:526px;
  top:423px;
  width:30px;
  height:14px;
}
#u6777 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u6778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:2px;
}
#u6778 {
  position:absolute;
  left:482px;
  top:455px;
  width:970px;
  height:1px;
  color:#CCCCCC;
}
#u6779 {
  position:absolute;
  left:2px;
  top:-8px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6780_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:64px;
  height:5px;
}
#u6780 {
  position:absolute;
  left:509px;
  top:455px;
  width:61px;
  height:2px;
}
#u6781 {
  position:absolute;
  left:2px;
  top:-7px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6782 {
  position:absolute;
  left:534px;
  top:474px;
  width:131px;
  height:40px;
}
#u6783 {
  position:absolute;
  left:2px;
  top:13px;
  width:127px;
  word-wrap:break-word;
}
#u6784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6784 {
  position:absolute;
  left:688px;
  top:474px;
  width:108px;
  height:40px;
  color:#999999;
}
#u6785 {
  position:absolute;
  left:2px;
  top:13px;
  width:104px;
  word-wrap:break-word;
}
#u6786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6786 {
  position:absolute;
  left:535px;
  top:545px;
  width:250px;
  height:232px;
}
#u6787 {
  position:absolute;
  left:2px;
  top:108px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:157px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u6788 {
  position:absolute;
  left:557px;
  top:567px;
  width:211px;
  height:157px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u6789 {
  position:absolute;
  left:0px;
  top:68px;
  width:211px;
  word-wrap:break-word;
}
#u6790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u6790 {
  position:absolute;
  left:557px;
  top:747px;
  width:59px;
  height:14px;
}
#u6791 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u6792 {
  position:absolute;
  left:749px;
  top:744px;
  width:19px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u6793 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u6794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u6794 {
  position:absolute;
  left:722px;
  top:571px;
  width:40px;
  height:38px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u6794_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u6794.mouseOver {
}
#u6795 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
#u6796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u6796 {
  position:absolute;
  left:726px;
  top:687px;
  width:33px;
  height:28px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6797 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6798 {
  position:absolute;
  left:831px;
  top:545px;
  width:250px;
  height:232px;
}
#u6799 {
  position:absolute;
  left:2px;
  top:108px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:157px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u6800 {
  position:absolute;
  left:844px;
  top:567px;
  width:219px;
  height:157px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u6801 {
  position:absolute;
  left:0px;
  top:68px;
  width:219px;
  word-wrap:break-word;
}
#u6802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u6802 {
  position:absolute;
  left:844px;
  top:744px;
  width:59px;
  height:14px;
}
#u6803 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u6804 {
  position:absolute;
  left:1037px;
  top:744px;
  width:19px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u6805 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u6806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u6806 {
  position:absolute;
  left:1016px;
  top:571px;
  width:40px;
  height:38px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u6806_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u6806.mouseOver {
}
#u6807 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
#u6808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u6808 {
  position:absolute;
  left:1020px;
  top:687px;
  width:33px;
  height:28px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6809 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6810 {
  position:absolute;
  left:1132px;
  top:545px;
  width:250px;
  height:232px;
}
#u6811 {
  position:absolute;
  left:2px;
  top:108px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:157px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u6812 {
  position:absolute;
  left:1145px;
  top:567px;
  width:219px;
  height:157px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u6813 {
  position:absolute;
  left:0px;
  top:68px;
  width:219px;
  word-wrap:break-word;
}
#u6814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u6814 {
  position:absolute;
  left:1145px;
  top:744px;
  width:59px;
  height:14px;
}
#u6815 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u6816 {
  position:absolute;
  left:1338px;
  top:744px;
  width:19px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u6817 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u6818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u6818 {
  position:absolute;
  left:1317px;
  top:571px;
  width:40px;
  height:38px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u6818_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u6818.mouseOver {
}
#u6819 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
#u6820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u6820 {
  position:absolute;
  left:1321px;
  top:687px;
  width:33px;
  height:28px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6821 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:553px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6822 {
  position:absolute;
  left:616px;
  top:391px;
  width:836px;
  height:553px;
}
#u6823 {
  position:absolute;
  left:2px;
  top:268px;
  width:832px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u6824 {
  position:absolute;
  left:652px;
  top:419px;
  width:119px;
  height:18px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u6825 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u6826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:489px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6826 {
  position:absolute;
  left:616px;
  top:455px;
  width:836px;
  height:489px;
}
#u6827 {
  position:absolute;
  left:2px;
  top:236px;
  width:832px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u6829 {
  position:absolute;
  left:1145px;
  top:408px;
  width:281px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u6830 {
  position:absolute;
  left:10px;
  top:10px;
  width:269px;
  word-wrap:break-word;
}
#u6831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u6831 {
  position:absolute;
  left:1368px;
  top:408px;
  width:58px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u6832 {
  position:absolute;
  left:2px;
  top:11px;
  width:54px;
  word-wrap:break-word;
}
#u6833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6833 {
  position:absolute;
  left:653px;
  top:474px;
  width:250px;
  height:179px;
}
#u6834 {
  position:absolute;
  left:2px;
  top:82px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:113px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u6835 {
  position:absolute;
  left:675px;
  top:496px;
  width:211px;
  height:113px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u6836 {
  position:absolute;
  left:0px;
  top:46px;
  width:211px;
  word-wrap:break-word;
}
#u6837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u6837 {
  position:absolute;
  left:749px;
  top:620px;
  width:59px;
  height:14px;
}
#u6838 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6839 {
  position:absolute;
  left:922px;
  top:474px;
  width:250px;
  height:179px;
}
#u6840 {
  position:absolute;
  left:2px;
  top:82px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:113px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u6841 {
  position:absolute;
  left:944px;
  top:496px;
  width:211px;
  height:113px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u6842 {
  position:absolute;
  left:0px;
  top:46px;
  width:211px;
  word-wrap:break-word;
}
#u6843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u6843 {
  position:absolute;
  left:1018px;
  top:620px;
  width:59px;
  height:14px;
}
#u6844 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6845 {
  position:absolute;
  left:1182px;
  top:474px;
  width:250px;
  height:179px;
}
#u6846 {
  position:absolute;
  left:2px;
  top:82px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:113px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u6847 {
  position:absolute;
  left:1204px;
  top:496px;
  width:211px;
  height:113px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u6848 {
  position:absolute;
  left:0px;
  top:46px;
  width:211px;
  word-wrap:break-word;
}
#u6849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u6849 {
  position:absolute;
  left:1278px;
  top:620px;
  width:59px;
  height:14px;
}
#u6850 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:179px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6851 {
  position:absolute;
  left:653px;
  top:663px;
  width:250px;
  height:179px;
}
#u6852 {
  position:absolute;
  left:2px;
  top:82px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u6853 {
  position:absolute;
  left:768px;
  top:744px;
  width:17px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u6854 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
}
#u6855 {
  position:absolute;
  left:726px;
  top:774px;
  width:105px;
  height:14px;
}
#u6856 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u6857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:56px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6857 {
  position:absolute;
  left:616px;
  top:888px;
  width:836px;
  height:56px;
}
#u6858 {
  position:absolute;
  left:2px;
  top:20px;
  width:832px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6859 {
  position:absolute;
  left:988px;
  top:897px;
  width:131px;
  height:40px;
}
#u6860 {
  position:absolute;
  left:2px;
  top:13px;
  width:127px;
  word-wrap:break-word;
}
#u6861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6861 {
  position:absolute;
  left:1142px;
  top:897px;
  width:108px;
  height:40px;
  color:#999999;
}
#u6862 {
  position:absolute;
  left:2px;
  top:13px;
  width:104px;
  word-wrap:break-word;
}
#u6863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6863 {
  position:absolute;
  left:1317px;
  top:897px;
  width:108px;
  height:40px;
  color:#999999;
}
#u6864 {
  position:absolute;
  left:2px;
  top:13px;
  width:104px;
  word-wrap:break-word;
}
#u6866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u6867 {
  position:absolute;
  left:1397px;
  top:153px;
  width:21px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
  line-height:20px;
}
#u6868 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u6869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(249, 94, 90, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u6869 {
  position:absolute;
  left:1418px;
  top:150px;
  width:12px;
  height:12px;
  font-size:12px;
  color:#FFFFFF;
}
#u6870 {
  position:absolute;
  left:0px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6871 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6873 {
  position:absolute;
  left:1201px;
  top:157px;
  width:74px;
  height:14px;
}
#u6874 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u6875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u6875 {
  position:absolute;
  left:1285px;
  top:159px;
  width:10px;
  height:10px;
}
#u6876 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:20px;
}
#u6877 {
  position:absolute;
  left:1161px;
  top:149px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:20px;
}
#u6878 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u6879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6880 {
  position:absolute;
  left:1323px;
  top:157px;
  width:30px;
  height:14px;
}
#u6881 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u6882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u6882 {
  position:absolute;
  left:1358px;
  top:160px;
  width:10px;
  height:10px;
}
#u6883 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
