body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1455px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1847px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21371 {
  position:absolute;
  left:252px;
  top:194px;
  width:1200px;
  height:1847px;
}
#u21372 {
  position:absolute;
  left:2px;
  top:916px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21373 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u21374 {
  position:absolute;
  left:252px;
  top:134px;
  width:1200px;
  height:60px;
  color:#999999;
}
#u21375 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21376 {
  position:absolute;
  left:558px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21376_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21376.selected {
}
#u21377 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u21378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21378 {
  position:absolute;
  left:636px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21378_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21378.mouseOver {
}
#u21378_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21378.selected {
}
#u21379 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u21380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21380 {
  position:absolute;
  left:716px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21380_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21380.mouseOver {
}
#u21380_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21380.selected {
}
#u21381 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u21382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21382 {
  position:absolute;
  left:796px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21382_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21382.mouseOver {
}
#u21382_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21382.selected {
}
#u21383 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u21384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21384 {
  position:absolute;
  left:876px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21384_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21384.mouseOver {
}
#u21384_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21384.selected {
}
#u21385 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u21386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21386 {
  position:absolute;
  left:479px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21386_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21386.mouseOver {
}
#u21386_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21386.selected {
}
#u21387 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u21388 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u21389 {
  position:absolute;
  left:333px;
  top:134px;
  width:146px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u21390 {
  position:absolute;
  left:0px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u21391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:36px;
}
#u21391 {
  position:absolute;
  left:270px;
  top:144px;
  width:44px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:36px;
}
#u21392 {
  position:absolute;
  left:0px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u21393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21393 {
  position:absolute;
  left:956px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21393_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21393.mouseOver {
}
#u21393_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21393.selected {
}
#u21394 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u21395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21395 {
  position:absolute;
  left:1036px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21395_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21395.mouseOver {
}
#u21395_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u21395.selected {
}
#u21396 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u21398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21398 {
  position:absolute;
  left:252px;
  top:2041px;
  width:1200px;
  height:270px;
}
#u21399 {
  position:absolute;
  left:2px;
  top:127px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:14px;
}
#u21400 {
  position:absolute;
  left:545px;
  top:2272px;
  width:614px;
  height:14px;
}
#u21401 {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  word-wrap:break-word;
}
#u21402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:91px;
}
#u21402 {
  position:absolute;
  left:1214px;
  top:2062px;
  width:101px;
  height:91px;
}
#u21403 {
  position:absolute;
  left:2px;
  top:38px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:14px;
}
#u21404 {
  position:absolute;
  left:1158px;
  top:2193px;
  width:217px;
  height:14px;
}
#u21405 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u21406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:2px;
}
#u21406 {
  position:absolute;
  left:252px;
  top:2249px;
  width:1200px;
  height:1px;
}
#u21407 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:14px;
}
#u21408 {
  position:absolute;
  left:1186px;
  top:2163px;
  width:145px;
  height:14px;
}
#u21409 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u21410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u21410 {
  position:absolute;
  left:317px;
  top:2062px;
  width:30px;
  height:14px;
}
#u21411 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u21412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:14px;
}
#u21412 {
  position:absolute;
  left:317px;
  top:2100px;
  width:44px;
  height:14px;
}
#u21413 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u21414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u21414 {
  position:absolute;
  left:317px;
  top:2135px;
  width:59px;
  height:14px;
}
#u21415 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u21416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u21416 {
  position:absolute;
  left:437px;
  top:2062px;
  width:59px;
  height:14px;
}
#u21417 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u21418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:14px;
}
#u21418 {
  position:absolute;
  left:437px;
  top:2100px;
  width:87px;
  height:14px;
}
#u21419 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u21420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:14px;
}
#u21420 {
  position:absolute;
  left:437px;
  top:2135px;
  width:87px;
  height:14px;
}
#u21421 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u21422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:14px;
}
#u21422 {
  position:absolute;
  left:437px;
  top:2169px;
  width:87px;
  height:14px;
}
#u21423 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u21424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u21424 {
  position:absolute;
  left:604px;
  top:2062px;
  width:30px;
  height:14px;
}
#u21425 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u21426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u21426 {
  position:absolute;
  left:604px;
  top:2100px;
  width:30px;
  height:14px;
}
#u21427 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u21428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u21428 {
  position:absolute;
  left:604px;
  top:2135px;
  width:30px;
  height:14px;
}
#u21429 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u21430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u21430 {
  position:absolute;
  left:604px;
  top:2169px;
  width:30px;
  height:14px;
}
#u21431 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u21432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u21432 {
  position:absolute;
  left:604px;
  top:2205px;
  width:30px;
  height:14px;
}
#u21433 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u21434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u21434 {
  position:absolute;
  left:724px;
  top:2062px;
  width:30px;
  height:14px;
}
#u21435 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u21436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u21436 {
  position:absolute;
  left:724px;
  top:2100px;
  width:59px;
  height:14px;
}
#u21437 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u21438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u21438 {
  position:absolute;
  left:724px;
  top:2135px;
  width:59px;
  height:14px;
}
#u21439 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u21440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u21440 {
  position:absolute;
  left:724px;
  top:2169px;
  width:59px;
  height:14px;
}
#u21441 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u21442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:14px;
}
#u21442 {
  position:absolute;
  left:849px;
  top:2062px;
  width:132px;
  height:14px;
}
#u21443 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u21444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:14px;
}
#u21444 {
  position:absolute;
  left:849px;
  top:2100px;
  width:132px;
  height:14px;
}
#u21445 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u21446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u21446 {
  position:absolute;
  left:849px;
  top:2135px;
  width:59px;
  height:14px;
}
#u21447 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u21448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u21448 {
  position:absolute;
  left:849px;
  top:2169px;
  width:59px;
  height:14px;
}
#u21449 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u21450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u21450 {
  position:absolute;
  left:1077px;
  top:2042px;
  width:1px;
  height:200px;
}
#u21451 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21453 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21454 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21455 {
  position:absolute;
  left:1254px;
  top:157px;
  width:74px;
  height:14px;
}
#u21456 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u21457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u21457 {
  position:absolute;
  left:1338px;
  top:159px;
  width:10px;
  height:10px;
}
#u21458 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:20px;
}
#u21459 {
  position:absolute;
  left:1214px;
  top:149px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:20px;
}
#u21460 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u21461 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21462 {
  position:absolute;
  left:1376px;
  top:157px;
  width:30px;
  height:14px;
}
#u21463 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u21464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u21464 {
  position:absolute;
  left:1411px;
  top:160px;
  width:10px;
  height:10px;
}
#u21465 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:2px;
}
#u21466 {
  position:absolute;
  left:252px;
  top:461px;
  width:1200px;
  height:1px;
}
#u21467 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:36px;
}
#u21468 {
  position:absolute;
  left:360px;
  top:253px;
  width:613px;
  height:36px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u21469 {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  white-space:nowrap;
}
#u21470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:953px;
  height:40px;
}
#u21470 {
  position:absolute;
  left:360px;
  top:313px;
  width:953px;
  height:40px;
  line-height:20px;
}
#u21471 {
  position:absolute;
  left:0px;
  top:0px;
  width:953px;
  word-wrap:break-word;
}
#u21472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21472 {
  position:absolute;
  left:360px;
  top:374px;
  width:140px;
  height:40px;
}
#u21473 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u21474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u21474 {
  position:absolute;
  left:777px;
  top:498px;
  width:145px;
  height:36px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u21475 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u21476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:80px;
}
#u21476 {
  position:absolute;
  left:360px;
  top:604px;
  width:978px;
  height:80px;
  line-height:20px;
}
#u21477 {
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  word-wrap:break-word;
}
#u21478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:2px;
}
#u21478 {
  position:absolute;
  left:252px;
  top:730px;
  width:1200px;
  height:1px;
}
#u21479 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:20px;
}
#u21480 {
  position:absolute;
  left:713px;
  top:555px;
  width:278px;
  height:20px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u21481 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  white-space:nowrap;
}
#u21482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u21482 {
  position:absolute;
  left:777px;
  top:775px;
  width:145px;
  height:36px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u21483 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u21484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:20px;
}
#u21484 {
  position:absolute;
  left:688px;
  top:828px;
  width:319px;
  height:20px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u21485 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  white-space:nowrap;
}
#u21486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u21486 {
  position:absolute;
  left:377px;
  top:1108px;
  width:59px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u21487 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u21488_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:23px;
}
#u21488 {
  position:absolute;
  left:360px;
  top:1103px;
  width:3px;
  height:20px;
}
#u21489 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u21490 {
  position:absolute;
  left:353px;
  top:1209px;
  width:18px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u21491 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u21492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u21492 {
  position:absolute;
  left:1347px;
  top:1209px;
  width:18px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u21493 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u21494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
}
#u21494 {
  position:absolute;
  left:631px;
  top:1013px;
  width:101px;
  height:20px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u21495 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u21496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u21496 {
  position:absolute;
  left:966px;
  top:1013px;
  width:61px;
  height:20px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u21497 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u21498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:14px;
}
#u21498 {
  position:absolute;
  left:946px;
  top:1051px;
  width:102px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u21499 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u21500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:62px;
}
#u21500 {
  position:absolute;
  left:590px;
  top:903px;
  width:189px;
  height:62px;
}
#u21501 {
  position:absolute;
  left:2px;
  top:23px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:14px;
}
#u21502 {
  position:absolute;
  left:576px;
  top:1051px;
  width:203px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u21503 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u21504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:50px;
}
#u21504 {
  position:absolute;
  left:902px;
  top:909px;
  width:189px;
  height:50px;
}
#u21505 {
  position:absolute;
  left:2px;
  top:17px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:14px;
}
#u21506 {
  position:absolute;
  left:784px;
  top:1239px;
  width:188px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u21507 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u21508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u21508 {
  position:absolute;
  left:1110px;
  top:1173px;
  width:160px;
  height:50px;
}
#u21509 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u21510 {
  position:absolute;
  left:1008px;
  top:1315px;
  width:145px;
  height:16px;
}
#u21511 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  visibility:hidden;
  white-space:nowrap;
}
#u21512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:14px;
}
#u21512 {
  position:absolute;
  left:1116px;
  top:1239px;
  width:145px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u21513 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u21514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u21514 {
  position:absolute;
  left:377px;
  top:1348px;
  width:59px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u21515 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u21516_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:23px;
}
#u21516 {
  position:absolute;
  left:360px;
  top:1343px;
  width:3px;
  height:20px;
}
#u21517 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u21518 {
  position:absolute;
  left:360px;
  top:1526px;
  width:18px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u21519 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u21520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u21520 {
  position:absolute;
  left:1354px;
  top:1526px;
  width:18px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u21521 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u21522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:44px;
}
#u21522 {
  position:absolute;
  left:425px;
  top:1432px;
  width:203px;
  height:44px;
}
#u21523 {
  position:absolute;
  left:2px;
  top:14px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:14px;
}
#u21524 {
  position:absolute;
  left:435px;
  top:1488px;
  width:174px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u21525 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u21526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:50px;
}
#u21526 {
  position:absolute;
  left:772px;
  top:1424px;
  width:184px;
  height:50px;
}
#u21527 {
  position:absolute;
  left:2px;
  top:17px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:14px;
}
#u21528 {
  position:absolute;
  left:776px;
  top:1488px;
  width:174px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u21529 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u21530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:64px;
}
#u21530 {
  position:absolute;
  left:1110px;
  top:1423px;
  width:316px;
  height:64px;
}
#u21531 {
  position:absolute;
  left:2px;
  top:24px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:14px;
}
#u21532 {
  position:absolute;
  left:1103px;
  top:1488px;
  width:174px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u21533 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u21534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:75px;
}
#u21534 {
  position:absolute;
  left:478px;
  top:1542px;
  width:88px;
  height:75px;
}
#u21535 {
  position:absolute;
  left:2px;
  top:30px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:14px;
}
#u21536 {
  position:absolute;
  left:415px;
  top:1627px;
  width:203px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u21537 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u21538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:53px;
}
#u21538 {
  position:absolute;
  left:770px;
  top:1553px;
  width:187px;
  height:53px;
}
#u21539 {
  position:absolute;
  left:2px;
  top:18px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:14px;
}
#u21540 {
  position:absolute;
  left:786px;
  top:1627px;
  width:145px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u21541 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u21542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:41px;
}
#u21542 {
  position:absolute;
  left:1090px;
  top:1559px;
  width:200px;
  height:41px;
}
#u21543 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:14px;
}
#u21544 {
  position:absolute;
  left:1093px;
  top:1627px;
  width:188px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u21545 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u21546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:2px;
}
#u21546 {
  position:absolute;
  left:255px;
  top:1694px;
  width:1200px;
  height:1px;
}
#u21547 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u21548 {
  position:absolute;
  left:780px;
  top:1728px;
  width:145px;
  height:36px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u21549 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u21550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:20px;
}
#u21550 {
  position:absolute;
  left:787px;
  top:1791px;
  width:131px;
  height:20px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u21551 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u21552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:45px;
}
#u21552 {
  position:absolute;
  left:478px;
  top:1173px;
  width:105px;
  height:45px;
}
#u21553 {
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:14px;
}
#u21554 {
  position:absolute;
  left:437px;
  top:1239px;
  width:188px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u21555 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u21556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:50px;
}
#u21556 {
  position:absolute;
  left:764px;
  top:1173px;
  width:177px;
  height:50px;
}
#u21557 {
  position:absolute;
  left:2px;
  top:17px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u21558 {
  position:absolute;
  left:1073px;
  top:1866px;
  width:15px;
  height:14px;
  color:#999999;
  text-align:center;
}
#u21559 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u21560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u21560 {
  position:absolute;
  left:795px;
  top:1864px;
  width:15px;
  height:25px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u21561 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u21562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u21562 {
  position:absolute;
  left:428px;
  top:1866px;
  width:21px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u21563 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u21564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:14px;
}
#u21564 {
  position:absolute;
  left:1116px;
  top:1869px;
  width:137px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u21565 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u21566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:14px;
}
#u21566 {
  position:absolute;
  left:820px;
  top:1866px;
  width:89px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u21567 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u21568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u21568 {
  position:absolute;
  left:459px;
  top:1869px;
  width:30px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u21569 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u21570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u21570 {
  position:absolute;
  left:694px;
  top:1961px;
  width:12px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u21571 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u21572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:14px;
}
#u21572 {
  position:absolute;
  left:730px;
  top:1964px;
  width:305px;
  height:14px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u21573 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
