body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1452px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5876 {
  position:absolute;
  left:397px;
  top:404px;
  width:74px;
  height:14px;
}
#u5877 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u5878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5878 {
  position:absolute;
  left:397px;
  top:486px;
  width:59px;
  height:14px;
}
#u5879 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:750px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5880 {
  position:absolute;
  left:252px;
  top:194px;
  width:227px;
  height:750px;
}
#u5881 {
  position:absolute;
  left:2px;
  top:367px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:750px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5882 {
  position:absolute;
  left:479px;
  top:194px;
  width:973px;
  height:750px;
}
#u5883 {
  position:absolute;
  left:2px;
  top:367px;
  width:969px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5884 {
  position:absolute;
  left:253px;
  top:586px;
  width:224px;
  height:50px;
}
#u5885 {
  position:absolute;
  left:2px;
  top:17px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5886 {
  position:absolute;
  left:308px;
  top:248px;
  width:59px;
  height:14px;
}
#u5887 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5888 {
  position:absolute;
  left:333px;
  top:295px;
  width:87px;
  height:14px;
}
#u5889 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u5890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:2px;
}
#u5890 {
  position:absolute;
  left:479px;
  top:274px;
  width:973px;
  height:1px;
}
#u5891 {
  position:absolute;
  left:2px;
  top:-8px;
  width:969px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5893 {
  position:absolute;
  left:509px;
  top:386px;
  width:908px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5894 {
  position:absolute;
  left:20px;
  top:14px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5895 {
  position:absolute;
  left:509px;
  top:431px;
  width:908px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5896 {
  position:absolute;
  left:20px;
  top:14px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:315px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:45px;
}
#u5898 {
  position:absolute;
  left:621px;
  top:386px;
  width:232px;
  height:315px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:45px;
}
#u5899 {
  position:absolute;
  left:20px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u5900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:315px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:45px;
}
#u5900 {
  position:absolute;
  left:937px;
  top:386px;
  width:119px;
  height:315px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:45px;
}
#u5901 {
  position:absolute;
  left:20px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u5902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:315px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:45px;
}
#u5902 {
  position:absolute;
  left:509px;
  top:386px;
  width:112px;
  height:315px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:45px;
}
#u5903 {
  position:absolute;
  left:20px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u5904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:315px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:45px;
}
#u5904 {
  position:absolute;
  left:853px;
  top:386px;
  width:84px;
  height:315px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:45px;
}
#u5905 {
  position:absolute;
  left:20px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u5906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:315px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:45px;
}
#u5906 {
  position:absolute;
  left:1049px;
  top:386px;
  width:368px;
  height:315px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:45px;
}
#u5907 {
  position:absolute;
  left:20px;
  top:0px;
  width:346px;
  word-wrap:break-word;
}
#u5908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5908 {
  position:absolute;
  left:509px;
  top:476px;
  width:908px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5909 {
  position:absolute;
  left:20px;
  top:14px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5910 {
  position:absolute;
  left:509px;
  top:521px;
  width:908px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5911 {
  position:absolute;
  left:20px;
  top:14px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5912 {
  position:absolute;
  left:509px;
  top:566px;
  width:908px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5913 {
  position:absolute;
  left:20px;
  top:14px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5914 {
  position:absolute;
  left:509px;
  top:611px;
  width:908px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5915 {
  position:absolute;
  left:20px;
  top:14px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5916 {
  position:absolute;
  left:509px;
  top:656px;
  width:908px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5917 {
  position:absolute;
  left:20px;
  top:14px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5919 {
  position:absolute;
  left:252px;
  top:134px;
  width:1200px;
  height:60px;
  color:#999999;
}
#u5920 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u5922 {
  position:absolute;
  left:333px;
  top:134px;
  width:146px;
  height:60px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u5923 {
  position:absolute;
  left:0px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u5924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:36px;
}
#u5924 {
  position:absolute;
  left:270px;
  top:144px;
  width:44px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:36px;
}
#u5925 {
  position:absolute;
  left:0px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u5926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5926 {
  position:absolute;
  left:1327px;
  top:311px;
  width:75px;
  height:40px;
}
#u5927 {
  position:absolute;
  left:2px;
  top:13px;
  width:71px;
  word-wrap:break-word;
}
#u5928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u5928 {
  position:absolute;
  left:1115px;
  top:311px;
  width:192px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u5929 {
  position:absolute;
  left:10px;
  top:10px;
  width:180px;
  word-wrap:break-word;
}
#u5930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5930 {
  position:absolute;
  left:479px;
  top:893px;
  width:973px;
  height:50px;
}
#u5931 {
  position:absolute;
  left:2px;
  top:17px;
  width:969px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
}
#u5932 {
  position:absolute;
  left:538px;
  top:912px;
  width:65px;
  height:14px;
}
#u5933 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u5934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u5934 {
  position:absolute;
  left:1008px;
  top:909px;
  width:12px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u5935 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u5936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u5936 {
  position:absolute;
  left:1026px;
  top:912px;
  width:37px;
  height:14px;
}
#u5937 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u5938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u5938 {
  position:absolute;
  left:1392px;
  top:909px;
  width:12px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u5939 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u5940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u5940 {
  position:absolute;
  left:1355px;
  top:912px;
  width:37px;
  height:14px;
}
#u5941 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u5942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:14px;
}
#u5942 {
  position:absolute;
  left:1281px;
  top:912px;
  width:47px;
  height:14px;
}
#u5943 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u5944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:14px;
}
#u5944 {
  position:absolute;
  left:1233px;
  top:912px;
  width:38px;
  height:14px;
}
#u5945 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u5946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u5946 {
  position:absolute;
  left:1162px;
  top:899px;
  width:30px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u5947 {
  position:absolute;
  left:10px;
  top:10px;
  width:18px;
  word-wrap:break-word;
}
#u5948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u5948 {
  position:absolute;
  left:1142px;
  top:912px;
  width:15px;
  height:14px;
}
#u5949 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u5950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u5950 {
  position:absolute;
  left:1202px;
  top:912px;
  width:15px;
  height:14px;
}
#u5951 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u5952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:14px;
}
#u5952 {
  position:absolute;
  left:1085px;
  top:912px;
  width:47px;
  height:14px;
}
#u5953 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u5954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u5954 {
  position:absolute;
  left:1067px;
  top:909px;
  width:18px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u5955 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u5956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u5956 {
  position:absolute;
  left:1327px;
  top:909px;
  width:18px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u5957 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u5958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u5958 {
  position:absolute;
  left:455px;
  top:149px;
  width:1px;
  height:30px;
}
#u5959 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5960 {
  position:absolute;
  left:479px;
  top:157px;
  width:59px;
  height:14px;
}
#u5961 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u5962 {
  position:absolute;
  left:441px;
  top:248px;
  width:15px;
  height:14px;
  color:#999999;
  text-align:center;
}
#u5963 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u5964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5964 {
  position:absolute;
  left:333px;
  top:407px;
  width:59px;
  height:14px;
}
#u5965 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5966 {
  position:absolute;
  left:534px;
  top:227px;
  width:73px;
  height:14px;
}
#u5967 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u5969 {
  position:absolute;
  left:937px;
  top:311px;
  width:151px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u5970 {
  position:absolute;
  left:10px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u5971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u5971 {
  position:absolute;
  left:1056px;
  top:311px;
  width:32px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u5972 {
  position:absolute;
  left:2px;
  top:11px;
  width:28px;
  word-wrap:break-word;
}
#u5973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5973 {
  position:absolute;
  left:333px;
  top:453px;
  width:73px;
  height:14px;
}
#u5974 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5975 {
  position:absolute;
  left:333px;
  top:353px;
  width:102px;
  height:14px;
}
#u5976 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u5977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5977 {
  position:absolute;
  left:308px;
  top:507px;
  width:59px;
  height:14px;
}
#u5978 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u5979 {
  position:absolute;
  left:441px;
  top:507px;
  width:15px;
  height:14px;
  color:#999999;
  text-align:center;
}
#u5980 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u5981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5981 {
  position:absolute;
  left:326px;
  top:552px;
  width:73px;
  height:14px;
}
#u5982 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5985 {
  position:absolute;
  left:1322px;
  top:157px;
  width:74px;
  height:14px;
}
#u5986 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u5987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5987 {
  position:absolute;
  left:1406px;
  top:159px;
  width:10px;
  height:10px;
}
#u5988 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:20px;
}
#u5989 {
  position:absolute;
  left:1282px;
  top:149px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:20px;
}
#u5990 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u5991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5991 {
  position:absolute;
  left:509px;
  top:311px;
  width:82px;
  height:40px;
}
#u5992 {
  position:absolute;
  left:2px;
  top:13px;
  width:78px;
  word-wrap:break-word;
}
#u5993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5993 {
  position:absolute;
  left:326px;
  top:604px;
  width:73px;
  height:14px;
}
#u5994 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:665px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5995 {
  position:absolute;
  left:947px;
  top:274px;
  width:505px;
  height:665px;
}
#u5996 {
  position:absolute;
  left:2px;
  top:324px;
  width:501px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5998 {
  position:absolute;
  left:988px;
  top:386px;
  width:433px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5999 {
  position:absolute;
  left:20px;
  top:14px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6000 {
  position:absolute;
  left:988px;
  top:431px;
  width:433px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6001 {
  position:absolute;
  left:20px;
  top:14px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:315px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:45px;
}
#u6003 {
  position:absolute;
  left:1100px;
  top:386px;
  width:136px;
  height:315px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:45px;
}
#u6004 {
  position:absolute;
  left:20px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u6005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:315px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:45px;
}
#u6005 {
  position:absolute;
  left:988px;
  top:386px;
  width:112px;
  height:315px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:45px;
}
#u6006 {
  position:absolute;
  left:20px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u6007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:315px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:45px;
}
#u6007 {
  position:absolute;
  left:1236px;
  top:386px;
  width:168px;
  height:315px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:45px;
}
#u6008 {
  position:absolute;
  left:20px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u6009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6009 {
  position:absolute;
  left:988px;
  top:476px;
  width:433px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6010 {
  position:absolute;
  left:20px;
  top:14px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6011 {
  position:absolute;
  left:988px;
  top:521px;
  width:433px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6012 {
  position:absolute;
  left:20px;
  top:14px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6013 {
  position:absolute;
  left:988px;
  top:566px;
  width:433px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6014 {
  position:absolute;
  left:20px;
  top:14px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6015 {
  position:absolute;
  left:988px;
  top:611px;
  width:433px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6016 {
  position:absolute;
  left:20px;
  top:14px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6017 {
  position:absolute;
  left:988px;
  top:656px;
  width:433px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6018 {
  position:absolute;
  left:20px;
  top:14px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6019 {
  position:absolute;
  left:1322px;
  top:859px;
  width:82px;
  height:40px;
}
#u6020 {
  position:absolute;
  left:2px;
  top:13px;
  width:78px;
  word-wrap:break-word;
}
#u6021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6021 {
  position:absolute;
  left:1327px;
  top:311px;
  width:75px;
  height:40px;
}
#u6022 {
  position:absolute;
  left:2px;
  top:13px;
  width:71px;
  word-wrap:break-word;
}
#u6023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u6023 {
  position:absolute;
  left:1115px;
  top:311px;
  width:207px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u6024 {
  position:absolute;
  left:10px;
  top:10px;
  width:195px;
  word-wrap:break-word;
}
