body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1452px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3933 {
  position:absolute;
  left:252px;
  top:134px;
  width:1200px;
  height:60px;
  color:#999999;
}
#u3934 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3935 {
  position:absolute;
  left:558px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3935_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3935.selected {
}
#u3936 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u3937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3937 {
  position:absolute;
  left:636px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3937_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3937.mouseOver {
}
#u3937_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3937.selected {
}
#u3938 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u3939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3939 {
  position:absolute;
  left:716px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3939_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3939.mouseOver {
}
#u3939_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3939.selected {
}
#u3940 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u3941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3941 {
  position:absolute;
  left:796px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3941_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3941.mouseOver {
}
#u3941_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3941.selected {
}
#u3942 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u3943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3943 {
  position:absolute;
  left:876px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3943_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3943.mouseOver {
}
#u3943_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3943.selected {
}
#u3944 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u3945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3945 {
  position:absolute;
  left:479px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3945_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3945.mouseOver {
}
#u3945_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3945.selected {
}
#u3946 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u3947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u3948 {
  position:absolute;
  left:333px;
  top:134px;
  width:146px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u3949 {
  position:absolute;
  left:0px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u3950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:36px;
}
#u3950 {
  position:absolute;
  left:270px;
  top:144px;
  width:44px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:36px;
}
#u3951 {
  position:absolute;
  left:0px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u3952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3952 {
  position:absolute;
  left:956px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3952_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3952.mouseOver {
}
#u3952_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3952.selected {
}
#u3953 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u3954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3954 {
  position:absolute;
  left:1036px;
  top:134px;
  width:80px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3954_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3954.mouseOver {
}
#u3954_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u3954.selected {
}
#u3955 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u3957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3959 {
  position:absolute;
  left:1322px;
  top:157px;
  width:74px;
  height:14px;
}
#u3960 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u3961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3961 {
  position:absolute;
  left:1406px;
  top:159px;
  width:10px;
  height:10px;
}
#u3962 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:20px;
}
#u3963 {
  position:absolute;
  left:1282px;
  top:149px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:20px;
}
#u3964 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u3966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3966 {
  position:absolute;
  left:397px;
  top:604px;
  width:74px;
  height:14px;
}
#u3967 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u3968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3968 {
  position:absolute;
  left:397px;
  top:686px;
  width:59px;
  height:14px;
}
#u3969 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3970 {
  position:absolute;
  left:252px;
  top:394px;
  width:227px;
  height:550px;
}
#u3971 {
  position:absolute;
  left:2px;
  top:267px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3972 {
  position:absolute;
  left:254px;
  top:566px;
  width:224px;
  height:50px;
}
#u3973 {
  position:absolute;
  left:2px;
  top:17px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3974 {
  position:absolute;
  left:334px;
  top:434px;
  width:59px;
  height:14px;
}
#u3975 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3976 {
  position:absolute;
  left:334px;
  top:484px;
  width:59px;
  height:14px;
}
#u3977 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3978 {
  position:absolute;
  left:334px;
  top:534px;
  width:59px;
  height:14px;
}
#u3979 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3980 {
  position:absolute;
  left:334px;
  top:635px;
  width:59px;
  height:14px;
}
#u3981 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3982 {
  position:absolute;
  left:334px;
  top:685px;
  width:59px;
  height:14px;
}
#u3983 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3984 {
  position:absolute;
  left:334px;
  top:735px;
  width:59px;
  height:14px;
}
#u3985 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u3986 {
  position:absolute;
  left:422px;
  top:584px;
  width:10px;
  height:15px;
}
#u3987 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3988 {
  position:absolute;
  left:334px;
  top:584px;
  width:59px;
  height:14px;
}
#u3989 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3991 {
  position:absolute;
  left:252px;
  top:194px;
  width:1200px;
  height:200px;
}
#u3992 {
  position:absolute;
  left:2px;
  top:92px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3993 {
  position:absolute;
  left:333px;
  top:335px;
  width:106px;
  height:20px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3994 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u3995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:20px;
}
#u3995 {
  position:absolute;
  left:333px;
  top:225px;
  width:100px;
  height:100px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:20px;
}
#u3996 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  word-wrap:break-word;
}
#u3997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3997 {
  position:absolute;
  left:526px;
  top:216px;
  width:70px;
  height:14px;
}
#u3998 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u3999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3999 {
  position:absolute;
  left:526px;
  top:239px;
  width:59px;
  height:14px;
}
#u4000 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4001 {
  position:absolute;
  left:526px;
  top:262px;
  width:59px;
  height:14px;
}
#u4002 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4003 {
  position:absolute;
  left:526px;
  top:284px;
  width:62px;
  height:14px;
}
#u4004 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u4005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:88px;
}
#u4005 {
  position:absolute;
  left:607px;
  top:284px;
  width:385px;
  height:88px;
  line-height:18px;
}
#u4006 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  word-wrap:break-word;
}
#u4007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u4007 {
  position:absolute;
  left:607px;
  top:216px;
  width:15px;
  height:14px;
}
#u4008 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u4009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u4009 {
  position:absolute;
  left:607px;
  top:239px;
  width:30px;
  height:14px;
}
#u4010 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u4011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
}
#u4011 {
  position:absolute;
  left:607px;
  top:262px;
  width:75px;
  height:14px;
}
#u4012 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u4013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4013 {
  position:absolute;
  left:1043px;
  top:305px;
  width:33px;
  height:16px;
  font-size:16px;
}
#u4014 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4015 {
  position:absolute;
  left:1113px;
  top:305px;
  width:33px;
  height:16px;
  font-size:16px;
}
#u4016 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4017 {
  position:absolute;
  left:1182px;
  top:305px;
  width:33px;
  height:16px;
  font-size:16px;
}
#u4018 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u4019 {
  position:absolute;
  left:1051px;
  top:258px;
  width:16px;
  height:28px;
  font-size:28px;
}
#u4020 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u4021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u4021 {
  position:absolute;
  left:1121px;
  top:258px;
  width:16px;
  height:28px;
  font-size:28px;
}
#u4022 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u4023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u4023 {
  position:absolute;
  left:1190px;
  top:258px;
  width:16px;
  height:28px;
  font-size:28px;
}
#u4024 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u4025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4025 {
  position:absolute;
  left:1282px;
  top:263px;
  width:75px;
  height:40px;
}
#u4026 {
  position:absolute;
  left:2px;
  top:13px;
  width:71px;
  word-wrap:break-word;
}
#u4027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u4027 {
  position:absolute;
  left:636px;
  top:213px;
  width:18px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u4028 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u4029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u4029 {
  position:absolute;
  left:647px;
  top:236px;
  width:18px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u4030 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u4031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u4031 {
  position:absolute;
  left:689px;
  top:259px;
  width:18px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u4032 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u4033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u4033 {
  position:absolute;
  left:992px;
  top:352px;
  width:18px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u4034 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u4035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4035 {
  position:absolute;
  left:479px;
  top:394px;
  width:973px;
  height:550px;
}
#u4036 {
  position:absolute;
  left:2px;
  top:267px;
  width:969px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:487px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4037 {
  position:absolute;
  left:479px;
  top:457px;
  width:973px;
  height:487px;
}
#u4038 {
  position:absolute;
  left:2px;
  top:236px;
  width:969px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u4039 {
  position:absolute;
  left:526px;
  top:423px;
  width:30px;
  height:14px;
}
#u4040 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u4041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:2px;
}
#u4041 {
  position:absolute;
  left:482px;
  top:455px;
  width:970px;
  height:1px;
  color:#CCCCCC;
}
#u4042 {
  position:absolute;
  left:2px;
  top:-8px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4043_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:64px;
  height:5px;
}
#u4043 {
  position:absolute;
  left:509px;
  top:455px;
  width:61px;
  height:2px;
}
#u4044 {
  position:absolute;
  left:2px;
  top:-7px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4045 {
  position:absolute;
  left:534px;
  top:474px;
  width:131px;
  height:40px;
}
#u4046 {
  position:absolute;
  left:2px;
  top:13px;
  width:127px;
  word-wrap:break-word;
}
#u4047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4047 {
  position:absolute;
  left:688px;
  top:474px;
  width:108px;
  height:40px;
  color:#999999;
}
#u4048 {
  position:absolute;
  left:2px;
  top:13px;
  width:104px;
  word-wrap:break-word;
}
#u4049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4049 {
  position:absolute;
  left:535px;
  top:545px;
  width:250px;
  height:232px;
}
#u4050 {
  position:absolute;
  left:2px;
  top:108px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:157px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u4051 {
  position:absolute;
  left:557px;
  top:567px;
  width:211px;
  height:157px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u4052 {
  position:absolute;
  left:0px;
  top:68px;
  width:211px;
  word-wrap:break-word;
}
#u4053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u4053 {
  position:absolute;
  left:557px;
  top:747px;
  width:59px;
  height:14px;
}
#u4054 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u4055 {
  position:absolute;
  left:749px;
  top:744px;
  width:19px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u4056 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u4057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4057 {
  position:absolute;
  left:722px;
  top:571px;
  width:40px;
  height:38px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4057_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4057.mouseOver {
}
#u4058 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
#u4059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u4059 {
  position:absolute;
  left:726px;
  top:687px;
  width:33px;
  height:28px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4060 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4061 {
  position:absolute;
  left:831px;
  top:545px;
  width:250px;
  height:232px;
}
#u4062 {
  position:absolute;
  left:2px;
  top:108px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:157px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u4063 {
  position:absolute;
  left:844px;
  top:567px;
  width:219px;
  height:157px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u4064 {
  position:absolute;
  left:0px;
  top:68px;
  width:219px;
  word-wrap:break-word;
}
#u4065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u4065 {
  position:absolute;
  left:844px;
  top:744px;
  width:59px;
  height:14px;
}
#u4066 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u4067 {
  position:absolute;
  left:1037px;
  top:744px;
  width:19px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u4068 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u4069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4069 {
  position:absolute;
  left:1016px;
  top:571px;
  width:40px;
  height:38px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4069_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4069.mouseOver {
}
#u4070 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
#u4071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u4071 {
  position:absolute;
  left:1020px;
  top:687px;
  width:33px;
  height:28px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4072 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4073 {
  position:absolute;
  left:1132px;
  top:545px;
  width:250px;
  height:232px;
}
#u4074 {
  position:absolute;
  left:2px;
  top:108px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:157px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u4075 {
  position:absolute;
  left:1145px;
  top:567px;
  width:219px;
  height:157px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u4076 {
  position:absolute;
  left:0px;
  top:68px;
  width:219px;
  word-wrap:break-word;
}
#u4077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:14px;
}
#u4077 {
  position:absolute;
  left:1145px;
  top:744px;
  width:59px;
  height:14px;
}
#u4078 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u4079 {
  position:absolute;
  left:1338px;
  top:744px;
  width:19px;
  height:20px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u4080 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u4081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4081 {
  position:absolute;
  left:1317px;
  top:571px;
  width:40px;
  height:38px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4081_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4081.mouseOver {
}
#u4082 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
#u4083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u4083 {
  position:absolute;
  left:1321px;
  top:687px;
  width:33px;
  height:28px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4084 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
